<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.js">  </script>   
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.js"></script>
<script src="scripts.js"></script>
<body ng-app="MyApp">



<div ng-controller="CountryCtrl">
<div ng-view>

</div>
<br><br><br>
  <label>Search: <input ng-model="search"></label>

  <ul>
    <li ng-repeat="country in COUNTRIES | filter:search" >
      <a ng-href ="#/{{country}}">{{ country }}</a>
    </li>
</ul>



</div>

<script type = "text/ng-template" id = "viewCountry.htm">
      
      <table style='border:3px solid blue; color:red; width:100%; '>
  
        <tr>
          <th>Code</th>
          <th>Country</th> 
          <th>Capital</th> 
          <th>Continent</th>
          <th>Currency</th>
          <th>Phone</th>
          <th>ISO</th>
        </tr>
        <tr>
          <td>{{para.code}}</td>
          <td>{{para.country}}</td>
          <td>{{para.capital}}</td>
          <td>{{para.contient}}</td>
          <td>{{para.currency}}</td>
          <td>{{para.phone}}</td>
          <td>{{para.iso}}</td>
          </tr>
      </table>
</script>



</body>
</html>

